/* Forms.css thanks to HTML5boilerplate, github.com/nathansmith/formalize and www.sitepen.com */


/* icons */

/* buttons */
.btn {display: inline-block;}
.btn.alternate {}
.btn.highlight {}
.login {}
.logout {}
.primary {}
.warning {}
.error {}
.success {}

/* forms items */
label {cursor: pointer;}
legend {border: 0; white-space: normal;}
button, input, select {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;   /* Improves appearance in IE6/7 */
}
textarea {
	overflow: auto; /*Removes default vertical scrollbar on empty textarea in IE6/7/8/9. */
	min-height: 5em;
	font-size: 1.75em;
	vertical-align: top;
	resize: vertical;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button; /* clickable input types in iOS */
	*overflow: visible; /* Corrects inner spacing displayed oddly in IE7 */
}
input[type="checkbox"], input[type="radio"] {
	padding: 0; /* Corrects excess space around these inputs in IE8/9 */
	*width: 13px; *height: 13px; /* Corrects excess space around these inputs in IE7 */
}
input[type="search"] {-webkit-appearance: textfield;}

/* if select styling bugs on webkit */
/* select {-webkit-appearance: none;} */

/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
::-webkit-input-placeholder {color: #777;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #777;}

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* styling begins here */
/* change all this the way you like */

form {
	margin-top: 0em;
	margin-left: 0em;
	padding: 0em;
	border: 0px solid #ccc;
}
form li {list-style: none;}
form .form-help {
	color: #555;
	font-style: italic;
	text-indent: 200px;
}
form label {
	display: inline-block;
	min-width: 200px;
	font-weight: 700;
}
form li label {
	font-weight: 400;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
button,
input[type="button"],
input[type="reset"] {

	min-width: 100px;
	padding: .3em 0 .3em .3em;
	border: 1px solid #e0e0e0;
}
input[type="submit"] {
	padding: .5em 1em;
	border: 1px solid #eee;
	font-size: 12px;
}

header input[type="text"]{
    padding: 8px 0.5em;
    margin-right: 5px;
      border: 1px solid #333;
        font-size: 12px;
	  width: 130px;
	}

header input[type="password"]{
  padding: 8px 0.5em;
  margin-right: 5px;
  border: 1px solid #333;
  font-size: 12px;
  width: 130px;
}


header input[type="submit"] {
  padding: 8px 1.5em;
  border: 1px solid #333;
  font-size: 12px;
  margin-right: 5px;
  background-color: #333;
  color: #ccc;
}


header input[type="submit"]:hover {
  background-color: #a64646;
  color: #fff;
}

header .nav:hover {
  background-color: #108bde;
}

.dash input[type="submit"] {
  padding: 1px 1.2em;
  border: 1px solid #eee;
  font-size: 12px;
  margin-left: 5px;
  background-color: #e9e9e9;
  border-color: #ebebeb;
  color: #555;
}

.dash input[type="submit"]:hover {
  background-color: #108bde;
  color: #fff;
}

.nav {
  padding: 8px 1.5em;
  border: 0px solid #333;
  font-size: 12px;
  margin-right: 8px;
  background-color: #333;
  color: #d1d1d1;
}



header p {
  margin-top: 0px;
}
